.App p {
  color: rgb(117, 116, 116);
  border-bottom-width: 5px;
  border-bottom-color: white;
  /* margin-top: 16px; */
}
.App p::after,
.App p:hover {
  color: black;
  border-bottom-width: 4px;
  border-bottom-color: #37bbec;
}
#hover {
  background-color: white;
}
#hover::after,
#hover:hover {
  background-color: red;
}

.font {
  font-family: Bold;
}
#font {
  font-family: Bold;
}
#fonts {
  font-family: "Medium";
}
#Number {
  font-family: "Medium";
}
#ExtraBold {
  font-family: "ExtraBold";
}
#Bold {
  font-family: "Bold";
}
#bold {
  font-family: "Bold";
}
#transition::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
#transition:hover::before,
#transition:focus::before {
  transform: scaleX(1);
}
#transition {
  z-index: 1;
}
#overflow::-webkit-scrollbar {
  display: none;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
