/* .App p {
  color: rgb(117, 116, 116);
  border-bottom-width: 10px;
  border-bottom-color: white;
  margin-top: 16px;
}
.App p::after,
.App p:hover {
  color: black;
  border-bottom-width: 4px;
  border-bottom-color:#37BBEC;
} */
